<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Personal</title>
    <link href="https://fonts.googleapis.com/css?family=Bellota+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost/AgendaMVC/Resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost/AgendaMVC/Resources/css/toastr.min.css">
    <link rel="stylesheet" href="http://localhost/AgendaMVC/Resources/css/index.css">
</head>

<body>
