<main class="container mt-3">
    <h1 class="text-center mb-3"><b>Agenda Personal</b></h1>
    <section class="row">
        
        <div class="col-sm-5 cajaContacto p-4">
            <form name="frmContacto" method="POST" action="../Servidor/index.php">
                <div class="form-group">
                    <label for="txtNombre">Nombre: </label>
                    <input type="text" name="txtNombre" id="txtNombre"
                        class="form-control" placeholder="Ingrese nombre">
                </div>
                <div class="form-group">
                    <label for="txtNombre">Teléfono Fijo: </label>
                    <input type="text" name="txtTelFijo" id="txtTelFijo"
                        class="form-control" placeholder="Ingrese teléfono fijo">    
                </div>
                <div class="form-group">
                    <label for="txtNombre">Teléfono Celular:</label>
                    <input type="text" name="txtTelCel" id="txtTelCel"
                        class="form-control" placeholder="Ingrese teléfono celular">
                </div>
                <a onclick="registrarContacto()" class="btn btn-info btn-block">Agregar Contacto</a>
            </form>
        </div>

        <div class="col-sm-7">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Nombre</th>
                            <th>Teléfono Fijo</th>
                            <th>Teléfono Celular</th>
                        </tr>
                    </thead>
                    <tbody id="tablaContactos" style="background-color: white;">
                        
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</main>